In [7]:
import pandas as pd
import logging

logging.basicConfig(level=logging.INFO)

In [8]:
url =  "https://simple.wikipedia.org/wiki/Forbes_list_of_billionaires"

In [9]:
def scrape(url):
  logging.info(f"Scraping website with url: '{url}' ...")
  return pd.read_html(url, header=None)

In [10]:
df = scrape(url)[1]

INFO:root:Scraping website with url: 'https://simple.wikipedia.org/wiki/Forbes_list_of_billionaires' ...
INFO:numexpr.utils:NumExpr defaulting to 4 threads.

In [11]:
df

,No.,Name,Net worth (USD),Age,Nationality,Source(s) of wealth
0,1,Jeff Bezos,$112.0 billion,54,United States,Amazon
1,2,Bill Gates,$90.0 billion,62,United States,Microsoft
2,3,Warren Buffett,$84.0 billion,87,United States,Berkshire Hathaway
3,4,Bernard Arnault,$72.0 billion,69,France,LVMH
4,5,Mark Zuckerberg,$71.0 billion,33,United States,Facebook
5,6,Amancio Ortega,$70.0 billion,81,Spain,"Inditex, Zara"
6,7,Carlos Slim,$67.1 billion,78,Mexico,"América Móvil, Grupo Carso"
7,8,Charles Koch,$60.0 billion,82,United States,Koch Industries
8,8,David Koch,$60.0 billion,77,United States,Koch Industries
9,10,Larry Ellison,$58.5 billion,73,United States,Oracle Corporation

In [12]:
# Data Cleaning (Transform Process)

In [13]:
import re

In [18]:
def is_money_billion(string_money):
    return string_money.lower().endswith("billion")

In [19]:
def transform_money_format(string_money):
    half_clean_string = string_money.lower().replace("$","").replace(" ", "")
    return re.sub(r"[?\[M\]billion|\[J\]juta]", "", half_clean_string)

In [25]:
def transform(df, year):
    logging.info("Transforming DataFrame ...")

    columns_mapping = {
        "No.": "no",
        "Name": "name",
        "Net worth (USD)": "patrimonio_usd",
        "Age" : "age",
        "Nationality": "nationality",
        "Source(s) of wealth" : "sources"
    }

    
    renamed_df = df.rename(columns=columns_mapping)

    
    renamed_df["year"] = year
    
    
    
    
    renamed_df["patrimonio_em_usd"] = renamed_df["patrimonio_usd"].apply(
        lambda value: float(transform_money_format(value)) * 1000 if is_money_billion(value) else float(transform_money_format(value))
    )

    return renamed_df[["no", "name", "patrimonio_usd", "age", "nationality","sources", "year"]]

In [26]:
df_2021 = transform(df, 2021)

INFO:root:Transforming DataFrame ...

In [27]:
df_2021

,no,name,patrimonio_usd,age,nationality,sources,year
0,1,Jeff Bezos,$112.0 billion,54,United States,Amazon,2021
1,2,Bill Gates,$90.0 billion,62,United States,Microsoft,2021
2,3,Warren Buffett,$84.0 billion,87,United States,Berkshire Hathaway,2021
3,4,Bernard Arnault,$72.0 billion,69,France,LVMH,2021
4,5,Mark Zuckerberg,$71.0 billion,33,United States,Facebook,2021
5,6,Amancio Ortega,$70.0 billion,81,Spain,"Inditex, Zara",2021
6,7,Carlos Slim,$67.1 billion,78,Mexico,"América Móvil, Grupo Carso",2021
7,8,Charles Koch,$60.0 billion,82,United States,Koch Industries,2021
8,8,David Koch,$60.0 billion,77,United States,Koch Industries,2021
9,10,Larry Ellison,$58.5 billion,73,United States,Oracle Corporation,2021

In [28]:
df_2021_fix = df_2021.insert(0, 'no_ranking', range(1, 1 + len(df)))

df_2021_fix = df_2021.drop(['no'], axis=1)

In [29]:
df_2021_fix

,no_ranking,name,patrimonio_usd,age,nationality,sources,year
0,1,Jeff Bezos,$112.0 billion,54,United States,Amazon,2021
1,2,Bill Gates,$90.0 billion,62,United States,Microsoft,2021
2,3,Warren Buffett,$84.0 billion,87,United States,Berkshire Hathaway,2021
3,4,Bernard Arnault,$72.0 billion,69,France,LVMH,2021
4,5,Mark Zuckerberg,$71.0 billion,33,United States,Facebook,2021
5,6,Amancio Ortega,$70.0 billion,81,Spain,"Inditex, Zara",2021
6,7,Carlos Slim,$67.1 billion,78,Mexico,"América Móvil, Grupo Carso",2021
7,8,Charles Koch,$60.0 billion,82,United States,Koch Industries,2021
8,9,David Koch,$60.0 billion,77,United States,Koch Industries,2021
9,10,Larry Ellison,$58.5 billion,73,United States,Oracle Corporation,2021

In [30]:
# Storing DataFrame to Database (Load Process)

In [31]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\julia\anaconda3\lib\site-packages (2.9.3)

In [32]:
from sqlalchemy import create_engine

In [41]:
DB_NAME = "postgres"
DB_USER = "user1"
DB_PASSWORD = "user1"
DB_HOST = "104.197.148.144"
DB_PORT = "5433"
CONNECTION_STRING = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
TABLE_NAME = "Ricos_Forbes"

In [42]:
CONNECTION_STRING

'postgresql://user1:user1@104.197.148.144:5433/postgres'

In [43]:
def write_to_postgres(df, db_name, table_name, connection_string):
    engine = create_engine(connection_string)
    logging.info(f"Writing dataframe to database: '{db_name}', table: '{table_name}' ...")
    df.to_sql(name = table_name, con=engine, if_exists="replace", index=False)

In [44]:
write_to_postgres(df=df_2021_fix, db_name=DB_NAME, table_name=TABLE_NAME, connection_string=CONNECTION_STRING)

INFO:root:Writing dataframe to database: 'postgres', table: 'Ricos_Forbes' ...

OperationalError: (psycopg2.OperationalError) connection to server at "104.197.148.144", port 5433 failed: Connection timed out (0x0000274C/10060)
	Is the server running on that host and accepting TCP/IP connections?

(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [48]:
# Read Data From Database

In [49]:
def read_from_postgres(db_name, table_name, connection_string):
    engine = create_engine(connection_string)

    logging.info(f"Reading postgres database: '{db_name}', table: '{table_name}' ...")
    return pd.read_sql_table(table_name, con=engine)

In [50]:
result_df = read_from_postgres(db_name=DB_NAME, table_name=TABLE_NAME, connection_string=CONNECTION_STRING)

INFO:root:Reading postgres database: 'postgres', table: 'IndraRahmawan_orang_terkaya_forbes' ...

In [51]:
print("Lista de pessoas mais ricas da Forbes:")
print(result_df.to_string())

Lista de pessoas mais ricas da Forbes:
   no_ranking             name  patrimonio_em_usd  age    nationality                     sources  year
0           1       Jeff Bezos           112000.0   54  United States                      Amazon  2021
1           2       Bill Gates            90000.0   62  United States                   Microsoft  2021
2           3   Warren Buffett            84000.0   87  United States          Berkshire Hathaway  2021
3           4  Bernard Arnault            72000.0   69         France                        LVMH  2021
4           5  Mark Zuckerberg            71000.0   33  United States                    Facebook  2021
5           6   Amancio Ortega            70000.0   81          Spain               Inditex, Zara  2021
6           7      Carlos Slim            67100.0   78         Mexico  América Móvil, Grupo Carso  2021
7           8     Charles Koch            60000.0   82  United States             Koch Industries  2021
8           9       David Koch            60000.0   77  United States             Koch Industries  2021
9          10    Larry Ellison            58500.0   73  United States          Oracle Corporation  2021